@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');
@import url('https://unpkg.com/leaflet@1.9.4/dist/leaflet.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

html, 
body {
  font-family: 'Montserrat', sans-serif;
  background-color: #EFF2F9;
}

* {
  margin: 0;
  padding: 0;
}

