@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');

html, 
body {
  font-family: 'Montserrat', sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  flex-direction: column;
}

.borderLine {
  color: #FFD700;
  height: 10px;
  
}

nav {
  background-color: #004F23;
  box-shadow: 3px 6px 10px rgba(0, 0, 0, 0.4);
  display: flex;
  padding: 7px 20px;
  align-items: center;
  justify-content: space-between; 
  z-index: 10;
}

nav a {
  padding: 0 20px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: white;
}

nav a:hover {
  color: #898686;
}

nav li:first-child {
  margin-right: auto;
}

.logo {
  height: 40px;
  padding-left: 90px;
}

nav a:not(:first-child) {
  padding: 0 20px;
}

.nav-links {
  display: flex;
  margin-left: auto; 
  margin-right: 60px;
}

// nav finished
.title {
  font-weight: bold;
  font-size: 2rem;
  text-align: left;
  margin-bottom: 20px;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;

}

.subtitle {
  text-decoration: underline;
  font-size: 1.2rem;
  text-align: left;
}

.home-container {
  display: flex;
  align-items: left;
  padding: 40px 20px; 
  flex-direction: column;
  text-align: left;
  margin: 0 auto;
  max-width: 800px; 
}

.home-img {
  max-width: 100%; 
  border-radius: 10px; 
  object-fit: cover;
  margin-top: 20px;
  margin-bottom: 20px;
}

// map

.map {
  height: 400px;
  border-radius: 10px;
  width: 800px; 
}

.map-container, .map-container1, .map-container2, .map-container3 {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 0 auto;
  max-width: 800px; 
}

// footer 

.footer {
  background-color: white;  
  color: #729343;
  text-align: center;
  padding: 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-top: auto;
}

.footer-link {
  color: #729343; 
  text-decoration: none;
  font-size: 14px;
}

.footer-link:hover {
  text-decoration: underline;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}

// allRegions page
.allRegionsContainer {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.allRegionsTitle {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 16px;
}

.allRegionsInput {
  padding: 8px;
  width: 100%;
  max-width: 400px;
  margin-bottom: 24px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 20px;
}

.allRegionsDisplay {
  display: flex;
  flex-direction: column;
  align-items: center; 
  max-width: 800px;
  margin: 0 auto; 
}

.allRegionsDisplay ul{
  list-style-type: none;
  padding: 0;
}

.allRegionsDisplay li{
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 16px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.2s;
  max-width: 800px;
  display: flex;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column; 
  align-items: center; 
  justify-content: center;
  font-family: "Lato", sans-serif;
  font-weight: 300;
}

.allRegionsDisplay li:hover {
  transform: scale(1.02);
}

.allRegionsName {
  font-size: 1.5rem;
  margin-bottom: 8px;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  color: black;
}

.allregionsPhoto {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
  margin-top: 8px;
}