@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');

html, 
body {
  font-family: 'Montserrat', sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  flex-direction: column;
}

nav {
  background-color: white;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  padding: 10px 20px;
  align-items: center;
  justify-content: space-between; 
  z-index: 10;
}

nav a {
  padding: 0 20px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #729343;
}

nav a:hover {
  background-color: #f0f0f0;
}

nav li:first-child {
  margin-right: auto;
}

.logo {
  height: 40px;
  margin-right: auto;
  padding: 0px 0px 0px 40px;
}

nav a:not(:first-child) {
  padding: 0 20px;
}

.nav-links {
  display: flex;
  margin-left: auto; 
}

.title {
  font-weight: bold;
  font-size: 2rem;
  text-align: left;
  margin-bottom: 20px;

}

.subtitle {
  text-decoration: underline;
  font-size: 1.2rem;
  text-align: left;
}

.home-container {
  display: flex;
  align-items: left;
  padding: 40px 20px; 
  flex-direction: column;
  text-align: left;
  margin: 0 auto;
  max-width: 800px; 
}

.home-img {
  max-width: 100%; 
  border-radius: 10px; 
  object-fit: cover;
  margin-top: 20px;
  margin-bottom: 20px;
}

// map

.map {
  height: 400px;
  border-radius: 10px;
  width: 800px; 
}

.map-container {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 0 auto;
  max-width: 800px; 
}

// footer 

.footer {
  background-color: white;  
  color: #729343;
  text-align: center;
  padding: 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-top: auto;
}

.footer-link {
  color: #729343; 
  text-decoration: none;
  font-size: 14px;
}

.footer-link:hover {
  text-decoration: underline;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}


